{% extends 'blood_banks/layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}

    {% for camp_enrollment in blood_camp_enrollments %}
        
        {% if camp_enrollment.camp_enrollment_status == 'Enrolled' %}
        <nav>
            <div class="nav nav-tabs" role="tablist">
              <a class="nav-item nav-link active" id="nav-enrolled-tab-{{camp_enrollment.enrollment_id}}" data-toggle="tab" href="#nav-enrolled-{{camp_enrollment.enrollment_id}}" role="tab" aria-controls="nav-enrolled-{{camp_enrollment.enrollment_id}}" aria-selected="true">Enrolled Info</a>
              <a class="nav-item nav-link" id="nav-donor-tab-{{camp_enrollment.enrollment_id}}" data-toggle="tab" href="#nav-donor-{{camp_enrollment.enrollment_id}}" role="tab" aria-controls="nav-donor-{{camp_enrollment.enrollment_id}}" aria-selected="false">Donor Info</a>
              <a class="nav-item nav-link" id="nav-donation-tab-{{camp_enrollment.enrollment_id}}" data-toggle="tab" href="#nav-donation-{{camp_enrollment.enrollment_id}}" role="tab" aria-controls="nav-donation-{{camp_enrollment.enrollment_id}}" aria-selected="false">Donation Form</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-enrolled-{{camp_enrollment.enrollment_id}}" role="tabpanel" aria-labelledby="nav-enrolled-tab-{{camp_enrollment.enrollment_id}}">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6>Enrollment Id - {{camp_enrollment.enrollment_id}}</h6>
                </div>
                <div class="card-body">
                    Enrolled Date Time : {{camp_enrollment.enrolled_date_time}}
                    Status : {{camp_enrollment.camp_enrollment_status}}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-donor-{{camp_enrollment.enrollment_id}}" role="tabpanel" aria-labelledby="nav-donor-tab-{{camp_enrollment.enrollment_id}}">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{camp_enrollment.donor_profile.profile_pic.url}}" width="350px">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5>{{camp_enrollment.donor_profile.full_name}}</h5>
                        <p class="card-text">{{camp_enrollment.donor_profile.dob}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.gender}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.blood_group}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.address}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.city}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.state}} {{camp_enrollment.donor_profile.country}} {{camp_enrollment.donor_profile.zipcode}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.contact_email_address}}<br>{{camp_enrollment.donor_profile.contact_mobile_number}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.first_donation_date}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.last_donation_date}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.number_of_donations}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.blood_donated_in_cc}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.last_donation_type}}</p>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-donation-{{camp_enrollment.enrollment_id}}" role="tabpanel" aria-labelledby="nav-donation-tab-{{camp_enrollment.enrollment_id}}">
            <form class="user" action="{% url 'accept_blood_donation_from_donor_for_camp' enrollment_id=camp_enrollment.enrollment_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    Collected Quantity
                    <input type="number" class="form-control form-control-user" name="collected_quantity_in_cc">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Blood Accepted
                    </button>
                </div>
            </form>
        </div>
        </div>
        {% else %}
        <nav>
            <div class="nav nav-tabs" role="tablist">
              <a class="nav-item nav-link active" id="nav-enrolled-tab-{{camp_enrollment.enrollment_id}}" data-toggle="tab" href="#nav-enrolled-{{camp_enrollment.enrollment_id}}" role="tab" aria-controls="nav-enrolled-{{camp_enrollment.enrollment_id}}" aria-selected="true">Enrolled Info</a>
              <a class="nav-item nav-link" id="nav-donor-tab-{{camp_enrollment.enrollment_id}}" data-toggle="tab" href="#nav-donor-{{camp_enrollment.enrollment_id}}" role="tab" aria-controls="nav-donor-{{camp_enrollment.enrollment_id}}" aria-selected="false">Donor Info</a>
              <a class="nav-item nav-link" id="nav-donation-tab-{{camp_enrollment.enrollment_id}}" data-toggle="tab" href="#nav-donation-{{camp_enrollment.enrollment_id}}" role="tab" aria-controls="nav-donation-{{camp_enrollment.enrollment_id}}" aria-selected="false">Donation Info</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-enrolled-{{camp_enrollment.enrollment_id}}" role="tabpanel" aria-labelledby="nav-enrolled-tab-{{camp_enrollment.enrollment_id}}">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6>Enrollment Id - {{camp_enrollment.enrollment_id}}</h6>
                </div>
                <div class="card-body">
                    Enrolled Date Time : {{camp_enrollment.enrolled_date_time}}
                    Status : {{camp_enrollment.camp_enrollment_status}}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-donor-{{camp_enrollment.enrollment_id}}" role="tabpanel" aria-labelledby="nav-donor-tab-{{camp_enrollment.enrollment_id}}">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{camp_enrollment.donor_profile.profile_pic.url}}" width="350px">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5>{{camp_enrollment.donor_profile.full_name}}</h5>
                        <p class="card-text">{{camp_enrollment.donor_profile.dob}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.gender}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.blood_group}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.address}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.city}}</p>
                        <p class="card-text">{{camp_enrollment.donor_profile.state}} {{camp_enrollment.donor_profile.country}} {{camp_enrollment.donor_profile.zipcode}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.contact_email_address}}<br>{{camp_enrollment.donor_profile.contact_mobile_number}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.first_donation_date}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.last_donation_date}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.number_of_donations}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.blood_donated_in_cc}}</p>
                    <p class="card-text">{{camp_enrollment.donor_profile.last_donation_type}}</p>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-donation-{{camp_enrollment.enrollment_id}}" role="tabpanel" aria-labelledby="nav-donation-tab-{{camp_enrollment.enrollment_id}}">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6>Enrollment Id - {{camp_enrollment.enrollment_id}}</h6>
                </div>
                <div class="card-body">
                    Enrolled Date Time : {{camp_enrollment.enrolled_date_time}}
                    Donated Date Time : {{camp_enrollment.donation_date_time}}
                    Blood Group Collected : {{camp_enrollment.blood_group_collected}}
                    Collected Quantity : {{camp_enrollment.collected_quantity_in_cc}}
                </div>
            </div>
        </div>
        </div>
        {% endif %}

    {% endfor %}

{% endblock %}

{% block js %}

{% endblock %}