{% extends 'hospitals/layout.html' %}
{% load static %}

{% block css %}

{% endblock %}   

{% block main %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Possible Donor Prediction</h6>
    </div>
    <div class="card-body">
        {% if response == "0" %}
            Not a Possible Donor to donate blood
        {% else %}
            Possible Donor to donate blood
        {% endif %}
    </div>
</div>
{% endblock %}   

{% block js %}

{% endblock %}   