{% extends 'hospitals/layout.html' %}
{% load static %}

{% block css %}

{% endblock %}   

{% block main %}
    {% for brd in blood_request_blood_banks %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6>Request Id - {{brd.blood_request.request_id}} {{brd.blood_request.request_date_time}}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">Donation Type Needed : {{brd.blood_request.donation_type_needed}}</div>
                    <div class="col-md-4">Blood Type Needed : {{brd.blood_request.blood_type_needed}}</div>
                    <div class="col-md-4">Quantity Needed : {{brd.blood_request.quantity_needed}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Request Description : {{brd.blood_request.request_description}}</div>
                    <div class="col-md-4">Donation Uses : {{brd.blood_request.donation_uses}}</div>
                    <div class="col-md-4">Approx Time For Donation : {{brd.blood_request.approx_time_for_donating}}</div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 100%;">  
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{brd.blood_bank_profile.logo.url}}" width="350px">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5>{{brd.blood_bank_profile.blood_bank_name}}</h5>
                    <p class="card-text">{{brd.distance}} km</p>
                    <p class="card-text">{{brd.blood_bank_profile.address}}</p>
                    <p class="card-text">{{brd.blood_bank_profile.area}}</p>
                    <p class="card-text">{{brd.blood_bank_profile.city}}</p>
                    <p class="card-text">{{brd.blood_bank_profile.state}} {{brd.blood_bank_profile.country}} {{brd.blood_bank_profile.zipcode}}</p>
                <p class="card-text">{{brd.blood_bank_profile.contact_email_address}}<br>{{brd.blood_bank_profile.contact_mobile_number}}</p>
                <p class="card-text">{{brd.blood_bank_profile.website_url}}</p>
                </div>
                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <a href="{% url 'view_requested_blood_bank_inventory' blood_bank_id=brd.blood_bank_profile.user.user_id %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Inventory</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}   

{% block js %}

{% endblock %}